{% extends "base.html" %}


{% block content %}


<div class="row">
	<div class="col-xs-12">
		<div class="slide">
			<h2>Open Source<br>Price Management For Games</h2>
			<p>Serve the right price to the right player at the right time.</p>
		</div>
		{% include "signup.html" %}
	</div>
</div>


<div class="row features">
	<div class="col-xs-12 col-sm-4">
		<div class="icon-metrics"></div>
		<h3>Track Metrics</h3>
		<p>Track how your players earn and spend virtual money. Learn how they progress through the game. See comprehensive player logs, and freely export to CSV.</p>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="icon-goods"></div>
		<h3>Manage Pricing</h3>
		<p>Change all the prices for virtual goods and IAPs in real-time. Simplify your operation, and control your virtual economy. Stay in sync with your players and instantly take action.</p>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="icon-player"></div>
		<h3>Target Players</h3>
		<p>Develop complex pricing strategies that can target everything from large groups down to single players. Experiment with individual prices for each segment to optimize retention and monetization.</p>
	</div>
</div>

<div class="row dev-features">
	<div class="col-xs-12 col-sm-6">
		<div class="row dev-features-list">
			<div class="dev-features-item">
				<div class="col-xs-2 col-sm-offset-1">
					<div class="icon-api"></div>
				</div>
				<div class="col-xs-8">
					<h4>API</h4>
					<p>Fully controllable by code. Automate analytics and in-game price management or connect Liftpass with other third-party services.</p>
				</div>
			</div>
			<div class="dev-features-item">
				<div class="col-xs-2 col-sm-offset-1">
					<div class="icon-sdk"></div>
				</div>
				<div class="col-xs-8">
					<h4>SDK</h4>
					<p>The open source, flexible SDK can integrate seamlessly with any kind of game. Works on iOS, Android, and Unity.</p>
				</div>
			</div>
			<div class="dev-features-item">
				<div class="col-xs-2 col-sm-offset-1">
					<div class="icon-scale"></div>
				</div>
				<div class="col-xs-8">
					<h4>Scale &amp; Optimize</h4>
					<p>Designed with the whole game economy in mind, Liftpass can scale on any cloud architecture - from a few thousand players to millions. Easily extend and customize the backend to fit your needs and existing infrastructure.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 dev-features-image stetch-and-center">
		<div class="icon-machine"></div>
	</div>
</div>

<div class="row install">
	<div class="col-xs-12">
		<h3>Install in seconds on Linux or OS X</h3>
	</div>

	<div class="col-xs-12 col-sm-3 col-sm-offset-3 text-center">
		<p><a href="/doc/get-started/" class="btn btn-success btn-lg">Install Liftpass</a></p>
	</div>
	<div class="col-xs-12 col-sm-3 text-center">
		<p><a href="/doc/" class="btn btn-default btn-lg">Read more</a></p>
	</div>
</div>

<!-- <div class="row video">
	<div class="col-xs-12 col-sm-6 info">
		<h3>What is Dynamic Pricing</h3>
		<p>This how the stuff that airlines have been doing for decades applies to games too!</p>
		<p><a href="/doc/dynamic-pricing/" class="btn btn-default">Read more</a></p>
	</div>
	<div class="col-xs-12 col-sm-6 video-frame stetch-and-center">
		<iframe src="//player.vimeo.com/video/88884107?title=0&amp;byline=0&amp;portrait=0&amp;" width="100%" height="326px" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
</div>
 -->

<div class="row use-cases">
	<div class="col-xs-12 col-sm-6 col-md-3 case">
		<h3>Prices according to progress</h3>
		<p>With Liftpass, you can adjust virtual goods prices depending on how players progress through your game. Reduce the price for the shotgun if a player is struggling in the beginning, and increase the price for the Bazooka for experts to challenge them towards the end.</p>
		
{% highlight 'json' %}{
  "com.game-dev.iap1": 500,
  "com.game-dev.iap2": 1200,
  "com.game-dev.iap3": 5000,
}{% endhighlight %}
	</div>

	<div class="col-xs-12 col-sm-6 col-md-3 case">
		<h3>Localized pricing</h3>
		<p>Have you ever investigated how certain countries are more drawn towards some virtual goods in your game than others? Your Japanese players might prefer the samurai sword, while your fans in the US like the tomahawk. Users in the Uk rather buy rubies, while users in Argentina love emeralds. Liftpass allows you to take these insights and create pricing strategies for each country.</p>

<pre><code>Goods, Default, US, BR, DE
com.game-dev.iap1, 500, 550, 400, 500,
com.game-dev.iap2, 1200, 1300, 1400, 1300
com.game-dev.iap3, 5000, 6000, 5500, 4500
</code></pre>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-3 case">
		<h3>EXPORT DATA TO ANALYZE</h3>
		<p>Liftpass allows you to easily export all behavioral player data you record in your game. Just download a CSV or JSON file, and use it for in depth analysis with another analytics tool, or sell it to user acquisition or advertising vendors for some extra cash.</p>


<pre><code>Goods, Default, US, BR, DE
com.game-dev.iap1, 500, 550, 400, 500,
com.game-dev.iap2, 1200, 1300, 1400, 1300
com.game-dev.iap3, 5000, 6000, 5500, 4500
</code></pre>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-3 case">
		<h3>SAFELY EXPERIMENT</h3>
		<p>Keep experimenting with new price sets. Even if you mess up, you can always go back to the last known good configuration. Adjusting your game content is fast and safe at the same time.</p>
		
<pre><code>Goods, Default, US, BR, DE
com.game-dev.iap1, 500, 550, 400, 500,
com.game-dev.iap2, 1200, 1300, 1400, 1300
com.game-dev.iap3, 5000, 6000, 5500, 4500
</code></pre>
	</div>
<!--	<div class="col-xs-12 col-sm-6 col-md-3 case">
		<h3>When and what is purchased</h3>
		<p>The Liftpass SDK keeps track of the exact location the player was in the game when making an IAP or virtual good purchase. 
{% highlight 'objective-c' %}[[Liftpass sharedInstance] recordVirtualGoodPurchase:@"com.monopoly.newyork"];{% endhighlight %}
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 case">
		<h3>Finding the right price</h3>
		<p>It takes a million A/B tests to find the right prices for the right player. Liftpass serves all prices in an A/B test configuration so that you never loose the chance to see which prices your players prefer. Liftpass also enables third party providers to do the hard work for you via the API.</p>
<pre><code>
</code></pre>
	</div>-->
</div>

<div class="row blog">
	<div class="col-xs-12 col-sm-6">
		<div class="icon-cartoon"></div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<h3>Most Popular Blog Posts</h3>
		<ul>
			<li><a href="#">Why calculating Lifetime Values (LTV) is key for Game Developers</a></li>
			<li><a href="#">Pay your players, or they will quit their jobs</a></li>
			<li><a href="#">Freemium Monetization with Paywalls?</a></li>
			<li><a href="#">My Story with Video Games</a></li>
		</ul>
	</div>
</div>

<div class="row promo">
	<div class="col-xs-12 col-sm-10">
		<p>Struggling to find <strong>the right prices</strong> for your players?</p>
	</div>
	<div class="col-xs-12 col-sm-2 text-center">
		<a href="http://gondola.io" class="btn btn-primary">Try Gondola</a>
	</div>
</div>


{% endblock %}