<ul class="contents">
{% for section in contents %}	
	<li>
		<a href="{{section.1}}">{{section.0}}</a>
		{% if section.0 == 'API' and page == 'content/doc/api/index.html' %}
		<ul>
			{% for group in api %}
				<li><a href="#{{group.bookmark}}">{{group.name}}</a></li>
			{% endfor %}
		</ul>
		{% elif section.0 == 'Content Management' and 'content/doc/content/' in page %}
		<ul>
			<li><a href="/doc/content/currencies/">Currencies</a></li>
			<li><a href="/doc/content/metrics/">Metrics</a></li>
			<li><a href="/doc/content/goods/">Goods</a></li>
			<li><a href="/doc/content/prices/">Prices</a></li>
		</ul>
		{% elif section.0 == 'Liftpass Server' and 'content/doc/server/' in page %}
		<ul>
			<li><a href="/doc/server/settings/">Settings</a></li>
			<li><a href="/doc/server/dashboard/">Dashboard</a></li>
			<li><a href="/doc/server/security/">Security</a></li>
			<li><a href="/doc/server/scaling/">Scaling</a></li>
		</ul>
		{% endif %}
	</li>
{% endfor %}
</ul>